.layout_post > #post {
  background: rgba(255,255,255,0.8);
}
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
  background: rgba(255,255,255,0.8);
}
:root {
  --card-bg: rgba(255,255,255,0.8);
  --card-hover-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.2);
  --guole-main: #49b1f5;
}
[data-theme='dark'] {
  --card-bg: rgba(13,13,13,0.8);
}
#footer {
  background: rgba(255,255,255,0);
}
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
}
/* 代码块样式 */
#article-container figure.highlight {
  border-radius: 7px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(144,164,174,0.4);
  box-shadow: 0 5px 10px 0 rgba(144,164,174,0.4);
  -webkit-transform: translateZ(0);
}
#article-container figure.highlight .highlight-tools .code-lang {
  left: 75px;
}
#article-container figure.highlight .highlight-tools .expand {
  right: 0;
}
#article-container figure.highlight .highlight-tools .expand ~ .copy-button {
  right: 2.1em;
}
#article-container figure.highlight .highlight-tools:after {
  position: absolute;
  left: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fc625d;
  -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
}
/* 目录-当前节点 */
#aside-content #card-toc .toc-content .toc-link.active {
  background-color: var(--guole-main);
  border-radius: 8px;
}
.toc-number {
  display: none;
}
@-moz-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@-o-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
